[Unit]
Description=TF2 Docker Container
Requires=docker.service
After=docker.service

[Service]
User=root
Restart=always
ExecStart=/usr/bin/docker start -a tf2
ExecStop=/usr/bin/docker stop -t 2 tf2

[Install]
WantedBy=default.target
